/* LoginForm.css */

.login-container {
    /* background: url('/images/car login v2.gif') no-repeat center center;
    min-height: 100vh;
    background-size: cover; */

  }
  
  .login-box {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color:black
  }


  .google-login-btn {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: #5f6368;
    border: 1px solid #dadce0;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s, box-shadow 0.2s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  .google-login-btn:hover {
    background: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  a{
    text-decoration: none;
  }

  .google-login-btn:active {
    background: #e8e8e8;
  }

  .valid-dot {
    position: absolute;
    top: 50%;
    right: 12px;              /* adjust to align inside the input */
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;
  }