.signup-container {
    background: url('/images/car login v2.gif') no-repeat center center;
    min-height: 100vh;
    background-size: cover;

  }
  
  .signup-box {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color:black;
  }
  